body {
    background-color: black;
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}


.heading {
    color: lightblue;
    text-align: center;
}

.heading span {
    color: white;
    font-size: 16px;
}

.start-button{
    margin: 0;
    position: absolute;
    top: 90%;
    left: 47%;
}
.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pong {
    border: 2px solid white;
    width: 600px;
    height: 400px;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

#ball {
    background-color: white;
    width: 20px;
    height: 100px;
    position: absolute;
}

#leftPaddle {
    left: 0;
    background-color: blue;
    width: 20px;
    height: 100px;
    position: absolute;
}

#rightPaddle {
    right: 0;
    background-color: red;
    width: 20px;
    height: 100px;
    position: absolute;
}

#ball {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}